---
layout: page
<!--title: Open Science Room 2020-->
<!--subtitle: brains, software, data, methods, scientific practice-->
<!--use-site-title: false-->
bigimg:
 - "/img/logo-osr2020_square.png"
---

<!-- Typed.js -->
<!--<script src="/js/jquery-1.11.2.min.js"></script> &lt;!&ndash; Typed.js uses old jquery ver &ndash;&gt;-->
<!--<script src="/js/typed.js" type="text/javascript"></script>-->
<!--<script>-->
<!--  $(function(){-->
<!--    $(".typed").typed({-->
<!--      strings: ["Brains","Open Science","Neuroimage Analysis","Code Sharing","Data Sharing","Research Transparency","Collaboration","Inclusion"],-->
<!--      typeSpeed: 100,-->
<!--      loop: true,-->
<!--      backDelay: 1000-->
<!--    });-->
<!--  });-->
<!--</script>-->

<div class="mobile-js-hide">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-left">
          <h2>Welcome to the OSR!<br> <span class="typed" style="color:#890000"; ></span></h2>

          <img src="img/what_is_osr.svg" alt="osr" align="right" width="42%" style="margin:10px 10px;">
          <p>The <a href="https://ossig.netlify.com/">OS-SIG</a> Open Science Room (OSR) is a conference within a conference. It is part of the <a href="https://www.humanbrainmapping.org/">Organisation for Human Brain Mapping (OHBM)</a> annual meeting. </p>
          <p>The OSR aims to be a welcoming and inclusive space for discussion around open practices within neuroimaging and science more generally. Joining in with the activities of the OSR is a key opportunity to connect with others in the community, learn from each other, and start collaborations to build a more inclusive, transparent and future-ready scientific field.</p>


          <h3>A virtual meeting with global access!</h3>
          <p>This year the OHBM meeting and OSR will be open for <b>virtual attendance only!</b>
              The OHBM meeting runs from <b>Tuesday 23rd June 2020 to Friday 3rd July 2020</b>, for two weeks instead of the usual five days, to give all virtual attendees full opportunity to soak up the experience without being glued to your screens for nine hours per day!
              <br>
              <br>
              The OSR kicks off with a welcome party on <b>Monday 22nd June 2020</b> and runs in parallel to the OHBM program, with almost no overlaps between the two schedules.
              For increased global accessibility, the daily OSR schedule repeat three times per 24 hours, once per time zone hub.
          </p>
          <div style="text-align: center;">
              <img src="img/OSR_schedule.png" alt="osrschedule" >
          </div>

          <p>
              The OHBM meeting will be hosted on an <a href="https://www.ohbmbrainmappingblog.com/blog/a-guide-to-experiencing-the-virtual-ohbm-2020-annual-meeting" target="_blank">interactive virtual platform</a>, with opportunities for networking alongside the standard keynotes, symposia, exhibitor booths, and poster sessions.
              OHBM registrants will be able to access the OS-SIG's Open Science Room via this platform, alongside the rest of the OHBM meeting content.
              <br>
              <br>
              To reduce barriers to access, the OSR talks, discussions and interactions this year will also be <b>available for free accross all timezones</b>, serving our global community.
          </p>
          <img src="img/connect_to_osr.png" alt="osrconnect" align="left" width="64%" style="margin:5px 5px;" >
          <p>
              <b>OHBM registrants will have full access to the OSR via the virtual conferencing platform</b>.
              If you are registered to attend OHBM, you do not have to register additionally via the OSR website.
              <b>Zero cost participants can <a href="https://ohbm.github.io/osr2020/register/">register via the OSR website</a></b> to gain free access to OSR content and interactions.
          </p>

          <h3>What happens in the OSR?</h3>

          <p>
              The OSR hosts content in various <a href="https://ohbm.github.io/osr2020/formats/">formats</a>: short lightning talks, longer 'keynote' talks, software demonstrations, and emergent discussions, all centred around <a href="https://ohbm.github.io/osr2020/themes/">themes</a> relevant to open science practices in our discipline.
              Emergent sessions can be booked now or during the meeting itself via the <a href="https://ohbm.github.io/osr2020/submit/">submit page</a>.
          </p>
          <div style="text-align: center;">
              <img src="img/what_happens_osr.png" alt="whathappensosr" width="64%">
          </div>

          <p>
              Talks, discussions and demonstrations in the OSR will be fresh, relevant and challenging.
              We aim to address new and emerging topics, fields and concerns, along with big picture issues in open science.
              The OSR is also a space to meet, hang out, work and collaborate! We aim to create virtual group working and interaction spaces, to support you in making real connections with other virtual attendees.
          </p>


          <h3>Who should come to the OSR?</h3>

          <p>
              The OSR is a space for <b>everyone</b>. We come with diverse skill sets, experiences and viewpoints, and we can all learn something new!
              We expect visitors to the OSR to comply with the <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3912">Code of Conduct</a> for the OHBM annual meeting.
              These behaviours are aligned with open science practices of sharing, collaboration, and inclusivity.
              In the OSR we aim to model an academic community we wish to be a part of, where we interact with each other with curiosity, kindness and respect.
          </p>

          <h3>Registration and participation</h3>

          <p>
              To join the OSR, <a href="https://ohbm.github.io/osr2020/register/"><b>register now</b></a>.
              Registration is open for the duration of the event, and is required for zero-cost attendance.
              After registration, you will receive the information necessary to access OSR talks and discussions.
              <br>
              <br>
              <i>Note: separate OSR registration is not required for those already registered for the OHBM meeting, as they will receive the necessary information to connect to the OSR via the virtual conferencing platform.</i>
          </p>
          <p>
              Participation in the OSR will happen across several platforms.
              OHBM registrants can view OSR content and interact with the community from within the virtual conferencing platform.
              Both OHBM and Zero-cost participants will be able to join the interactive program via Crowdcast.
              Crowdcast allows us to stream all our pre-recorded talks, have live question-and-answer sessions with speakers, and interact via text and video with our global community.
              We'll additionally make a text based Mattermost environment available for chats with speakers and each other, and asking our Open Science experts and staff for help.
              For informal social activities, a core part of a scientific conference, we'll use Gather.town, which was a great hit at the recent virtual OHBM Brainhack.
          </p>
          <div style="text-align: center;">
              <img src="img/OSR_platforms_v2.png" alt="osrplatforms">
          </div>

          <br>
          <h3>How to get in touch!</h3>

          <p>We would be very pleased to hear from you to discuss any aspect of the OSR! Our communication channels are listed <a href="https://ohbm.github.io/osr2020/contact/">here</a>.</p>


          <hr>

          <div align="left"><body><p><small>
          Images throughout this site are included with permission from <a href="https://undraw.co/search">Undraw</a>, <a href="https://thenounproject.com/">The Noun Project</a>, and <a href="https://ohbm.github.io/osr2020/volunteers/">OSR Volunteers</a>.
          </small></p></body></div>


      </div>
    </div>
  </div>
</div>



<!-- Original content -->
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
