---
layout: base
---

{% include header.html type="speaker" %}

{% assign img_path = nil %}
{% assign names = page.Name | downcase | split: " " %}
{% assign img_path = site.baseurl | append: "/img/person_default.jpg" %}
{% for file in site.static_files %}                
    {% if file.path contains names.first and file.path contains names[1] %}
        {% assign img_path = file.path %}
    {% endif %}
{% endfor %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <table style="border: none">
        <tr style="border: none"> 
        <td style="border: none">
        <span> <h1>{{ page.Name }} {% if page.Pronouns %} <i>({{ page.Pronouns }})</i> {% endif %}</h1></span>
        <h4> {{page.Job}}, {{ page.Affiliation }} </h4>  
        <p> {{ page.ShortBio | markdownify }} </p>
        <h4>
            {% if page.Twitter %} <a target="_blank" href="https://twitter.com/{{ page.Twitter }}"><i class="fa fa-twitter fa-2x" style="position: relative;text-indent:0px;  vertical-align: middle; margin-left:4px; margin-right:4px;"></i></a> {% endif %}
            {% if page.Github %} <a target="_blank" href="https://github.com/{{ page.Github }}"><i class="fa fa-github fa-2x" style="position: relative; text-indent:0px; vertical-align: middle; margin-left:4px; margin-right:4px; "></i></a>{% endif %}
            {% if page.Website %} <a target="_blank" href="{{ page.Website }}"> <i class="fa fa-external-link-square fa-2x" style="position: relative; top: 0px;text-indent:0px;  vertical-align: middle; margin-left:4px; margin-right:4px;"></i></a>{% endif %}
        </h4>
        </td>
        <td style="border: none; width: 35%"><img src="{{ site.baseurl }}{{ img_path }}" class="person"></td>
        </tr>

        {% assign talks = site.data.accepted_talks | where: "Name", page.Name %}
        {% if talks.size > 0 %}
          <tr style="border: none; background: none"><td style="border: none; background: none">
          <h3> Talks </h3>
          {% for talk in talks %}
            <span>
                <h4><i> {{ talk.TalkTitle }} </i></h4>
                <h5><a target="_blank" href="{{talk.Link}}">Talk abstract</a> - {{ talk.Date }} </h5>
                <h5>Theme: {{talk.Theme}}</h5>
                <h5>Format: {{talk.TalkFormat}}</h5>
                <br>

            </span>
          {% endfor %}
          </td></tr>
        {% endif %}
        </table>
    </div>
  </div>
</div>
